﻿@model IEnumerable<Task24_Middle.Models.Article>
@{
    ViewBag.Title = "Main Page";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

@foreach(var article in Model) 
{ 
    <div class="list-group">
        <h2>@article.Name</h2>
        <h3>@article.Date.ToShortDateString()</h3>
        <h4>@article.Text</h4>
    </div>
}