﻿@using Task24_Middle.Models
@model IEnumerable<Review>
@{
    ViewBag.Title = "GuestPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div id="reviews">
    @foreach (var review in Model)
    {
<div class="article">
    <p>@review.AuthorName:</p>
    <p>@review.Date</p>
    <p>@review.Text</p>
</div>}
    @using (Html.BeginForm("AddReview", "Guest", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <div class="form-group">
            <input type="hidden" value=@DateTime.Now.ToShortDateString() name="date" />
            <p>Enter your name</p>
            @Html.TextBox("AuthorName", "", new { @class = "form-control" })
            <p class="alert-danger">@Html.ValidationMessageFor(m => m.Single().AuthorName)</p>
        </div>
        <div class="form-group">
            <p>Enter your review</p>
            @Html.TextArea("Text", new { @class="form-control" })
            <p class="alert-danger">@Html.ValidationMessageFor(m => m.Single().Text)</p>
            <input class="btn btn-primary form-control" type="submit" value="Send" />
        </div>
    }
</div>

